body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


h2{
    color: #000000d2;
}
h5{
    color: #00000094;
}

p{
    color: #252525de;
}

.title1{
    margin-top: 0em;
    text-align: center;
    font-size: 1.5em;
}

.body1{
    font-size: 0.8em;
}

#map {
    width: 100%!important;
    height: 200px!important;
    background: #ddd;
  }

:root {
    --main-bg-color:#2396f3;
    --main-bg-2-color:#1b71b8;
    --secundary-color:#0000006e;
}

.icon-state-green{
    width: 25px;
    filter: invert(39%) sepia(89%) saturate(2414%) hue-rotate(149deg) brightness(88%) contrast(101%);
}
.icon-state-medium{
    width: 25px;
    filter: invert(40%) sepia(79%) saturate(391%) hue-rotate(307deg) brightness(112%) contrast(95%);
}

.icon-state-bad{
    width: 25px;
    filter: invert(34%) sepia(27%) saturate(6252%) hue-rotate(343deg) brightness(101%) contrast(91%);
}

.btn-flat{
    color:  var(--secundary-color)!important;
    position: initial!important;
}

.btn{
    background-color: var(--main-bg-color);
    position: initial!important;

}
.btn-small{
    background-color: var(--main-bg-color);
    position: initial!important;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: var(--main-bg-2-color);
    color: rgb(255, 255, 255);
    position: initial!important;
}


.footer {
    background-color: var(--main-bg-color);
    padding: 8px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:100; bottom:0;
    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.materialize-textarea:focus{
    border-bottom: 1px solid  var(--main-bg-color) !important;
    box-shadow: 0 1px 0 0  var(--main-bg-color) !important;
}

input:focus {
    border-bottom: 1px solid  var(--main-bg-color) !important;
    box-shadow: 0 1px 0 0  var(--main-bg-color) !important;
}
label {
    color:  var(--main-bg-color) !important;
}


.fa {
    font-size: 32px;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .page-header {
    font-size: 32px;
    margin: 20px;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#9c47fc, #356ad2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fontawesome-icon-list {
    text-align: center;
  }
  
  .icon {
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all .2s;
  }
  
  .icon:hover {
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  }
  

  